body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
* {
  box-sizing: inherit;
}
.App {
  text-align: center;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5em;
}
ul {
  padding-left: 0;
}
ul li {
  list-style-type: none;
  padding: 0 1em; 

}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  height: 16em;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background: #9eff7b;
}
.hero button{
  width: 5em;
  align-self: center;
}


.featured ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  width: 100%;
  background: lightblue;
}
