@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@600&display=swap');

:root {
  --primary-button-color: rgb(29, 143, 0);
}

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Raleway, sans-serif;
}
* {
  box-sizing: inherit;
}
.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: unset;
}
a:visited {
  color: unset;
}
a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background-color: var(--primary-button-color);
  opacity: .8;
  color: #fff;
  font-family: inherit;
  margin: 2em 1em;
  padding: .25em .75em;
  cursor: pointer;
  text-align: center;
  border-radius: .5em;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12);
  min-width: 10ch;
  min-height: 3em;
  transition: 200ms all ease-in-out;
}

button:hover {
  opacity: 1;
}

button a:hover {
  text-decoration: none;
}

button[disabled] {
  background-color: rgba(0,0,0,0.2);
  opacity: 1;
  cursor:not-allowed;
}

a, button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  box-shadow: 1px 0 5px rgba(0,0,0,0.15);
}

.logo {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0 .5em;
}

ul {
  padding-left: 0;
}
ul li {
  list-style-type: none;
  padding: 0 1em; 

}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-wrap {
  margin-top: 3em;
  padding: 0 1em;
  padding-bottom: 8em;
}


.popout-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.popout-container.offscreen {
  left: -100vw;
}

.popout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 75%;
  max-width: 800px;
  height: 80%;
  box-shadow: 0 0 20vw rgba(0,0,0,0.15);
}

.hero {
  height: 20em;
  padding: 2em;
  display: flex;
  text-align: left;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/158756/flowers-plants-korea-nature-158756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2em;
  box-shadow: -2px 0px 5px rgba(0,0,0,0.12);
  
}
.hero button{
  font-size: 1em;
  align-self: flex-start;
}

img {
  border-radius: .75em;
  min-width: 235px;
  max-height: 342px;
}

.featured ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-items ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cart-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.cart-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  margin: 1em 0;
}

.cart-list li img {
  min-width: unset;
  max-height: 150px;
}
.cart-deets {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cart-deets * {
  margin: 0;
}
.cart-deets div {
  margin: 1em 0;
  font-size: .8em;
}
.cart-deets button {
  align-self: center;
}

.auth-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.auth-box input {
  margin: 1em;
}

h2 {
  margin: 2em;
}

p {
  font-family: Montserrat, sans-serif;
}

.item-details {
  display: flex;
}
.right {
  padding: 0 4em ;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: lightblue;
  display: flex;
  justify-content: space-around;
}
